@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&display=swap');

::-webkit-scrollbar { 
    display: none; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: 'Cairo', sans-serif;
    color: white;
    text-decoration: none;
}

.imagem{
   background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9)),url(/Img/background.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;

   height:100vh;
}

header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 60px;

    

    background-color:#101010ee;
    box-shadow: 0px 5px 20px #000000;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto ;
  
}

.hamburger{
    width: 30px; height: 30px;

    background-color:transparent;
    border-radius: 5px;
    border: 0;

    position: relative;
    cursor:pointer;

    display: none;
}

.hamburger::after{
    content: "";

    position: absolute;
    top: 35%; left: 15%;

    width: 70%; height:5%;
    border-radius: 5px;

    background-color: #fff;
}

.hamburger::before{
    content: "";

    position: absolute;
    top: 55%; left: 15%;

    width: 70%; height: 5%;
    border-radius: 5px;

    background-color: #fff;
}






.logo a {
    font-size: 1.9rem;
    font-weight: lighter;
    letter-spacing: 3px;
    
    margin-left: 10px;
}

.menu{
    display: flex;
    align-items: center;

    list-style: none;
}

.menu li a {
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    display:block;

    font-size: 1.5rem;
    font-weight: lighter;

    border-radius: 10px;
}

.menu li a:hover{
    background-color: rgba(250, 246, 246, 0.493);
    transition: .5s ease;
}


section{
    position: relative;
    bottom: 350px;

   
    width: 100%; height: auto;
}

section h1 {
    margin-left: 10px;

    line-height: 5px;
    color: white;
    font-size: 50px;
    font-family: Cairo;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 5px;
}

section h2 {
    margin-left: 10px;

    color: white;
    font-size: 50px;
    font-family: Cairo;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 2px;
}

section p {
    width: 800px;
    text-align:justify;
    margin: 0px 0 0 10px;
    color: white;
    font-size: 20px;
    font-family: Cairo;
    font-style: normal;
    font-weight: 300;
}

.perfil{
    position: absolute;
    left: 900px; bottom: 10px;
    width: 250px; height: 250px;
    border-radius: 50%;
    background-image: url(/Img/profile2.jpg );
    background-size: cover;
    background-position: center;
}
    

@media screen and (max-width:980px){
    .hamburger {
        display: block;
        z-index: 999;
    }
    .menu{
        position:fixed;
        top: 0; right: -100%;

        height: 100vh; width: 100%;
        max-width: 250px;
        padding: 100px 20px;
        margin: 0;

        background-color: #222;
        
        transition: .5s ease;    
        box-shadow: 0px 1px 15px #999999;
        flex-direction: column;
    }

     .menu.active {
        right: 0;
    }

    section{
        margin-top: 100px;


    }

    section h1{
        font-size: 29px;
        text-align: center;
        letter-spacing: 5px;
    }

    section h2 {
        font-size: 20px;
        text-align: center;
        letter-spacing: 2px;
        margin: 5px 30px;
    }

    section p {
        width: 300px;

        font-size: 15px;
        text-align:justify; 
        padding: 10px;
    }

    .perfil{
        width: 200px; height: 200px;
        bottom: 300px;
        left: 60px;
    }
}