@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Background da Primeira parte*/
div.background1{
   background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9)),url(/Img/background.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;

   height:100vh;
}

/*HEADER CONTAINER NAV UL LI A LOGO*/

header {
  position: fixed;
  top:0;

  padding: 20px;
  width: 100%;

  background-color: rgba(0,0,0,0.9);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 980px;
  
  margin: 0 auto;
}


header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  
  font-family: 'Raleway', sans-serif;
  font-size: 20px; 
  padding: 0 20px;
  
}

header nav ul li a:hover{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  color: black;
  transition: 0.5s ease;
}


div.logo a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: lighter;
  letter-spacing: 5px;
  font-size: 30px;
  color: white;
}

/*FIM HEADER CONTAINER NAV UL LI A*/












  




  





